*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 160vh;
    background-image: linear-gradient(45deg,#2E3E50,#000000);
    background-repeat: no-repeat;
    background-size: 100% 200vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
header{
    width: 100%;
   height: 500px;
    /* background-color: red; */
    overflow: hidden;
    box-shadow: 0PX 0PX 5PX black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
video{
    width:120%;
    position: relative;
    z-index: 0;
    /* filter: blur(10px); */
}
#headingletters{
   
    position: absolute;
    
}
#pageheading{
    position: absolute;
    z-index: 5;
    width: 40%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
span{
    font-size: 60px;
    color: white;
    letter-spacing: 20px;
    text-shadow: 2px 2px 2px black;
}
#f{

    animation: textmoov 3s backwards infinite;
}
 #l{

    animation: textmoov 3s 0.4s backwards infinite;
}
#i{

    animation: textmoov 3s  0.5s backwards infinite;
}
#p{

    animation: textmoov 3s  0.6s backwards infinite;
}
#z{

    animation: textmoov 3s  0.7s backwards infinite;
}
#o{

    animation: textmoov 3s  0.8s backwards infinite;
}
#n{

    animation: textmoov 3s  0.9s backwards infinite;
} 
@keyframes textmoov {
    0%{
        transform: translateY(-620px) rotateY(360deg);
    }
    100%{
        transform: translateY(0px) rotateY(0deg);
    }
}
#backgroundAnimation{
    width: 380px;
    height: 380px;
    
   border-radius: 50%;
    background-image:conic-gradient(#FC354C,#ff5858,
    #f857a6,#8ABFBC,#4B6CB7,#1B2848,#ff5858);
    animation:Animationbackground 15s infinite alternate ;
    filter: blur(10px);
}
#container2{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
@keyframes Animationbackground {
    0%,100%{
            transform: rotate(360deg);
            border: 30% 70% 70% 30% / 30% 30% 20% 70%;
    }
    25%{
        border: 71% 27% 70% 30% / 30% 72% 20% 70%;
   
    }
    50%{
        transform: rotate(0deg);
        border: 71% 27% 70% 30% / 30% 72% 20% 70%;
    }
    
}
#loginform{
    width: 400px;
    height: 450px;
    background-color: rgba(105, 105, 105, 0.9);
    position: absolute;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
}
h1{
    color: white;
    letter-spacing: 10px;
    font-size: 26px;
    text-shadow: 2px 2px 2px black;
}
.info{
    width: 80%;
    height: 30px;
    color: white;
    text-align: center;
    border: 3px solid royalblue;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2px;
    box-shadow: 2px 2px 5px black;
    outline: none;
    background-color: rgba(0, 0, 0, 0.534);
}
form{
    width: 100%;
    height: 60%;
   display: flex;   
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;  
}
#button{
    width: 60%;
    height: 35px;
    border-radius: 20px;
    color: black;
    font-size: 18px;
    background-image: linear-gradient(45deg,rgb(165, 173, 198),rgb(72, 137, 151));       
    cursor: pointer;
    color: rgb(81, 77, 77);
    font-weight: bold;
    box-shadow: 2px 2px 2px black;
}
#button:hover{
    animation: logbutt 2s  ;
}
#aboutAcount{
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 2px;
}
@keyframes logbutt {
    0%, 100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    25% {
        transform: translate(0px, 0px) rotate(10deg);
    }
    50%{
        transform: translate(0px, 0px) rotate(-10deg)        
    }
}